.loader {
  background-color: black;
  width: 100%;
  height: 100vw;
  position: fixed;
  z-index: 2005;
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
}
.bg-layer img {
  width: 100%;
  position: fixed;
  height: 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
  animation: cd-sequence 1s steps(24);
  animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
  animation: cd-sequence-reverse 1s steps(24);
  animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
  display: none;
}

@keyframes cd-sequence {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence-reverse {
  0% {
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    transform: translateY(-50%) translateX(-2%);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: #f1f1f1;
}
.sticky {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
}
.sticky a {
  font-size: 0.90277778vw;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}
button {
  background: none;
  border: none;
}
nav {
  width: 77.013vw;
  padding: 2.22vw 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-content {
  font-size: 0.90277vw;
  line-height: 1.736111vw;
  letter-spacing: 0.13888vw;
}
.nav-content a {
  margin: 0;
  margin-right: 2.361111vw;
}
.nav-content a:hover {
  color: rgba(216, 125, 74, 1);
}
.logo img {
  width: 9.930555vw;
}

.cart-interior {
  position: fixed;
  width: 36.180555vw;
  background-color: white;
  margin-left: 53.3611vw;
  z-index: 2003;
  left: 100%;
  margin-top: 2.22vw;
  overflow-y: scroll;
}

.shopping-cart {
  left: 100%;
  width: 36.180555vw;
  background-color: white;

  margin: 0;
}
.shopping-carts {
  width: 36.180555vw;
  background-color: white;
  margin: 0;
}

.buyItem {
  width: 36.180555vw;
  background-color: white;
}
.buyItem img {
  width: 4.4444vw;
  height: 4.4444vw;
}
.head {
  margin: 0 auto;
  width: 30.736vw;
  display: flex;
  justify-content: space-between;
}
.cartCount {
  font-size: 1.25vw;
  line-height: 1.7076vw;
  letter-spacing: 0.0895vw;
  text-transform: uppercase;
}

.remove {
  margin: auto 0;
  font-size: 1.04166vw;
  line-height: 1.7361vw;
  color: rgba(0, 0, 0, 0.5);
}
.content {
  display: flex;
  justify-content: space-between;
  width: 30.736vw;
  margin: 0 auto;
}
.content h5 {
  color: black;
  font-size: 1.04166vw;
  line-height: 1.7361vw;
  margin: 0 0 0 1.1111vw;
  width: 20.8333vw;
}
.content h6 {
  font-size: 0.9722vw;
  line-height: 1.7361vw;
  margin: 0 0 0 1.1111vw;
  color: rgba(0, 0, 0, 0.5);
  width: 3.54166vw;
}
.cart-btn {
  margin: auto 0;
  height: 2vw;
  display: flex;
  width: 6.6666vw;
  background-color: rgba(241, 241, 241);
}
.cart-btn button {
  color: rgba(0, 0, 0, 0.5);
}
.countOfProduct {
  color: black;
  margin: auto 0.83333vw;
  font-size: 0.90277vw;
  line-height: 1.23333vw;
  letter-spacing: 0.06944vw;
}
.total {
  width: 30.736vw;
  margin: 0 auto;
  display: flex;
  margin-top: 2.2222vw;
  justify-content: space-between;
}
.total h6 {
  text-transform: uppercase;
  width: 3.19444vw;
  font-size: 1.04166vw;
  line-height: 1.7361vw;
  color: rgba(0, 0, 0, 0.5);
}
.total span {
  margin: auto 0;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.70763vw;
  color: black;
}
.checkout {
  text-align: center;
  width: 30.736vw;
  margin: 1.66666vw auto;
}
.checkout a {
  width: 13.0555vw;
  padding: 1.1375em 4.891em;
  background-color: rgb(216, 125, 74);
  color: white;
  text-transform: uppercase;
  font-size: 0.9027vw;
  line-height: 1.23333vw;
}

.go-back {
  width: 77.083333vw;
  padding: 5.486111vw 11.4583vw 0 11.4583vw;
  font-size: 1.041666vw;
  line-height: 1.736111vw;
}
.go-back a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.041666vw;
  line-height: 1.736111vw;
}

.products-menu {
  display: none;
}
.products h6 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 1.25vw;
  line-height: 1.70763889vw;
  letter-spacing: 0.08958333vw;
}
.products-menu h6 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 1.25vw;
  line-height: 1.70763889vw;
  letter-spacing: 0.08958333vw;
}
.containers {
  /* height: 19.7222222vw; */
  width: 24.3055556vw;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.store {
  color: rgba(0, 0, 0, 1);
  font-size: 0.90277778vw;
  line-height: 1.23333333vw;
  letter-spacing: 0.06944444vw;
  margin-top: 1.04166667vw;
}
.store:hover {
  color: rgba(216, 125, 74, 1);
}

.arrow {
  color: rgba(216, 125, 74, 1);
}
.headphones {
  width: 8.53819444vw;
}
.speakers {
  width: 8.43680556vw;
  margin-top: 0.52083333vw;
}
.earphones {
  margin-top: 0.9375vw;
  width: 8.68055556vw;
}

.headphone {
  background-color: rgba(241, 241, 241, 1);
  margin-top: -5.55555556vw;
  padding-top: 8.05555556vw;
  padding-bottom: 2.08333333vw;
  border-radius: 0.55555556vw;
}

.speaker {
  background-color: rgba(241, 241, 241, 1);
  margin-top: -5.03472222vw;
  padding-top: 8.05555556vw;
  padding-bottom: 2.08333333vw;
  border-radius: 0.55555556vw;
}

.earphone {
  background-color: rgba(241, 241, 241, 1);
  margin-top: -4.09722222vw;
  padding-top: 8.05555556vw;
  padding-bottom: 2.08333333vw;
  border-radius: 0.55555556vw;
}
.purchase-confirm {
  width: 37.5vw;
  background-color: white;
  margin: 0 auto;
  position: fixed;
  z-index: 1003;
  left: 33%;
  top: 22%;
  visibility: hidden;
  opacity: 0;
}
.purchase-confirm h1 {
  margin-left: 3.3333vw;
  width: 19.7222vw;
  text-transform: uppercase;
  font-size: 2.2222vw;
  line-height: 2.5vw;
}
.purchase-confirm p {
  width: 30.8333vw;
  margin: 0 auto;
  opacity: 0.4;
  font-size: 1.04166vw;
  line-height: 1.7361vw;
}
.back-home {
  width: 30.8333vw;
  background-color: rgba(216, 125, 74, 1);
  margin: 15.2083vw auto 2vw;
  text-align: center;
  padding: 1.04166vw 0;
  font-size: 0.9027vw;
  line-height: 1.2333vw;
}
.back-home a {
  text-decoration: none;
  width: 18.54vw;
  color: white;
  margin: 1.04166vw 0;
  text-transform: uppercase;
}
.sign {
  width: 4.4444vw;
  height: 4.4444vw;
  background-color: rgba(216, 125, 74, 1);
  border-radius: 50%;
  margin: 3.3333vw 0 0 3.3333vw;
}
.sign img {
  width: 1.5659vw;
  padding: 1.6861vw 0 0 1.4409vw;
}
main {
  display: flex;
}

.left-side {
  width: 50.6944vw;
  margin: 2.6388vw 0 0 11.45833vw;
  background-color: white;
}
.left-side h1 {
  text-transform: uppercase;
  font-size: 2.2222vw;
  line-height: 2.5vw;
  letter-spacing: 0.0791vw;
  padding: 3.75vw 0 0 3.3333vw;
  width: fit-content;
  font-weight: 700;
}
.left-side h2 {
  white-space: nowrap;
  width: fit-content;
  text-transform: uppercase;
  color: rgba(216, 125, 74, 1);
  padding: 2.84722vw 0 0 3.3333vw;
  font-size: 0.9027vw;
  line-height: 1.7361vw;
  letter-spacing: 0.0645vw;
  font-weight: 700;
}
.left-side h3 {
  font-weight: 700;
  width: fit-content;
  padding: 1.1111vw 0 0 0;
  font-size: 0.8333vw;
  line-height: 1.1381vw;
  margin: 0;
}
.name-mail {
  width: 44.02777vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.buyers-name ::before,
.buyers-mail ::before,
.buyers-phone ::before,
.buyers-zip ::before,
.buyers-city ::before,
.buyers-country ::before,
.eMoneyNumber ::before,
.eMoneyPin ::before,
.address ::before {
  opacity: 0.4;
  color: rgba(207, 207, 207, 1);
}
.buyers-name,
.buyers-mail,
.buyers-phone,
.buyers-zip,
.buyers-city,
.buyers-country,
.eMoneyNumber,
.eMoneyPin {
  padding: 1.25vw 0 1.25vw 1.666vw;
  width: 19.7916vw;
  border-radius: 0.5555vw;
  border-color: rgba(207, 207, 207, 1);
  color: black;
  font-size: 0.9722vw;
  line-height: 1.3277vw;
  font-weight: 700;
}
.phone-number {
  width: 44.02777vw;
  margin: 0 auto;
}

.phone-number h2 {
  margin: 3.6805vw 0 0 0;
  padding: 0 0 0 3.3333vw;
}
.shopping-details {
  width: 44.02777vw;
  margin: 0 auto;
}
.address {
  width: 44.02777vw;
  padding: 1.25vw 0 1.25vw 1.666vw;
  border-radius: 0.5555vw;
  border-color: rgba(207, 207, 207, 1);
  color: black;
  font-weight: 700;
  font-size: 0.9722vw;
  line-height: 1.3277vw;
}
.zip-city {
  width: 44.02777vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.country {
  width: 44.02777vw;
  margin: 0 auto;
}
.payment-details {
  margin-top: 4.236vw;
  margin-bottom: 0;
}
.payment-details h2 {
  padding: 0 0 0 3.333vw;
}
.payment-method {
  width: 44.02777vw;
  margin: 0 auto;
}
.options {
  padding-left: 22.5694vw;
  width: 44.02777vw;
  margin: 0 auto;
}
.radio1,
.radio2 {
  display: flex;
  width: 21.458vw;
  border-radius: 0.5555vw;
  border: 2px solid rgba(207, 207, 207, 1);
}
.radio2 {
  margin-top: 1.111vw;
}
.radio1 h4,
.radio2 h4 {
  margin-left: 1.1111vw;
  width: fit-content;
  font-size: 0.9722vw;
  line-height: 1.3277vw;
}
.button1,
.button2 {
  margin: auto 0 auto 1.1111vw;
  width: 1.3888vw;
  color: rgba(216, 125, 74, 1);
}
.money-pin {
  width: 44.02777vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.33333vw;
}

.right-side {
  width: 24.305vw;
  height: fit-content;
  background-color: white;
  margin: 2.6388vw 0 0 2.0833vw;
}
.right-side h5 {
  text-transform: uppercase;
  font-weight: 700;
  width: 6.875vw;
  font-size: 1.25vw;
  line-height: 1.7076vw;
  margin: 2.2569vw 0 0 2.2569vw;
}
.shopping-carts,
.final-carts {
  list-style: none;
  padding: 0;
}

.final-carts {
  margin-top: 2.1527vw;
}
.final-carts img {
  width: 4.4444vw;
  height: 4.4444vw;
}
.final-interior {
  width: 24.305vw;
  background-color: white;
  padding-bottom: 2.2222vw;
}
.final-content {
  width: 19.72222vw;
  display: flex;
  margin: 0 auto;
}
.final-content h5 {
  width: 13.1534vw;
  text-transform: uppercase;
  color: black;
  font-size: 1.04166vw;
  line-height: 1.7361vw;
  margin: 0 0 0 1.1111vw;
}
.final-content h6 {
  font-size: 0.9722vw;
  line-height: 1.7361vw;
  margin: 0 0 0 1.1111vw;
  color: rgba(0, 0, 0, 0.5);
  width: 3.54166vw;
}
.finalCount {
  color: rgba(0, 0, 0, 0.5);
  width: 1.0416vw;
  margin: auto 0;
  font-size: 1.04166vw;
  line-height: 1.7361vw;
}
.grand-total {
  padding-top: 7vw;
  width: 19.7222vw;
  margin: 0 auto;
  display: flex;
  margin-top: 2.2222vw;
  justify-content: space-between;
}
.grand-total h6 {
  text-transform: uppercase;
  width: 3.19444vw;
  font-size: 1.04166vw;
  line-height: 1.7361vw;
  color: rgba(0, 0, 0, 0.5);
}
.grand-total span {
  margin: auto 0;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.70763vw;
  color: black;
}
.pay {
  text-align: center;
  width: 19.7222vw;
  margin: 0 2.2916vw;
  background-color: rgba(216, 125, 74, 1);
  padding: 1.0416vw 0;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 0.9027vw;
  line-height: 1.2333vw;
}

footer {
  background-color: rgb(16, 16, 16);
  margin-top: 11.111111vw;
}
.foot-nav {
  padding-top: 5.2083333vw;
  color: white;
  margin: 0 11.458333vw;
}
.foot-nav-content a {
  font-size: 0.90277vw;
  line-height: 1.73611vw;
  letter-spacing: 0.13888vw;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-left: 2.36111vw;
}
.foot-nav-content a:hover {
  color: rgba(216, 125, 74, 1);
}
.foot-content {
  width: 77.08333vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.04166vw;
  line-height: 1.736111vw;
}
.conclusion {
  margin-top: 2.5vw;
  color: white;
  opacity: 0.5;
  width: 37.5vw;
}
.copyright {
  margin-bottom: 3.333333vw;
}
.logos {
  display: flex;
  margin-top: 7.291666vw;
  justify-content: flex-end;
}
.twitter {
  margin: 0 1.11111vw;
}
path:hover {
  fill: rgb(216, 125, 74);
}
svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .loader {
    height: 100%;
  }
  .sticky {
    width: 100%;
  }
  .hamburger {
    display: block;
    padding-right: 5.46875vw;
    width: 1em;
  }

  .hamburger span {
    display: block;
    width: 1em;
    height: 0.1875em;
    background-color: white;
    margin-top: 0.1875em;
    transition: all 0.5s ease-in-out;
  }
  nav {
    padding: 4.1667vw 0;
    margin: 0 auto;
    width: 89.7135417vw;
  }
  .logo img,
  .logo-foot img {
    padding-right: 56.640625vw;
    width: 18.6197317vw;
  }

  .cart-interior {
    margin-top: 6.22222vw;
    width: 41.180555vw;
  }
  .shopping-cart {
    margin-top: 6.22222vw;
    width: 41.180555vw;
  }
  .shopping-carts {
    width: 41.180555vw;
  }

  .buyItem {
    width: 41.180555vw;
  }
  .buyItem img {
    width: 8.3333vw;
    height: 8.3333vw;
  }
  .head {
    margin: 0 auto;
    width: 30.736vw;
  }
  .cartCount {
    font-size: 2.3437vw;
    line-height: 3.2018vw;
    letter-spacing: 0.1679vw;
  }

  .remove {
    font-size: 1.953vw;
    line-height: 3.2552vw;
  }
  .content {
    width: 33.736vw;
    margin: 0 auto;
  }
  .content h5 {
    font-size: 1.953vw;
    line-height: 3.2552vw;
    width: 15.8333vw;
  }
  .content h6 {
    font-size: 1.953vw;
    line-height: 3.2552vw;
    width: 6.64vw;
  }
  .cart-btn {
    height: 4.16666vw;
    width: 12.5vw;
  }
  .countOfProduct {
    margin: auto 1.562vw;
    font-size: 1.6927vw;
    line-height: 2.312vw;
    letter-spacing: 0.1302vw;
  }
  .total {
    margin-top: 4.16666vw;
  }
  .total h6 {
    width: 5.9895vw;
    font-size: 1.953vw;
    line-height: 3.2552vw;
  }
  .total span {
    font-size: 2.3437vw;
    line-height: 3.20182vw;
  }
  .checkout {
    width: 30.736vw;
    margin: 3.125vw auto;
  }
  .checkout a {
    width: 24.4791vw;
    padding: 1.1375em 4.891em;
    font-size: 1.6927vw;
    line-height: 2.312vw;
  }
  .nav-content {
    display: none;
  }
  .go-back {
    width: 89.778645vw;
    padding: 4.29687vw 5.1106vw 0 5.1106vw;
  }
  .go-back a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.9531vw;
    line-height: 3.2552vw;
  }

  .products-menu {
    right: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 6.4vw;
    width: 89.7135417vw;
    text-align: center;
    padding: 8.8vw 6.4vw;
    margin-top: 12.5vw;
    z-index: 10;
    position: fixed;
    border-radius: 1.041666vw;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .products-menu h6 {
    margin: 0;
    font-size: 1.953125vw;
    line-height: 0.02667969vw;
    letter-spacing: 0.00139323vw;
  }

  .containers {
    width: 29.0364583vw;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .store {
    font-size: 1.69270833vw;
    line-height: 2.3125vw;
    letter-spacing: 0.13020833vw;
    margin-top: 2.21354167vw;
  }
  .headphones {
    width: 10.40625vw;
  }
  .speakers {
    width: 10.9427083vw;
  }
  .earphones {
    width: 13.4114583vw;
    margin-top: 0;
  }

  .headphone {
    margin-top: -6.77083333vw;
    padding-top: 11.4583333vw;
    padding-bottom: 2.86458333vw;
    border-radius: 1.04166667vw;
  }

  .speaker {
    margin-top: -6.70572917vw;
    padding-top: 11.4583333vw;
    padding-bottom: 2.86458333vw;
    border-radius: 1.04166667vw;
  }

  .earphone {
    margin-top: -6.77083333vw;
    padding-top: 11.4583333vw;
    padding-bottom: 2.86458333vw;
    border-radius: 1.04166667vw;
  }
  .purchase-confirm {
    width: 70.312vw;
    margin: 0 auto;
    position: fixed;
    z-index: 1003;
    left: 15%;
    top: 21%;
  }
  .purchase-confirm h1 {
    margin-left: 6.25vw;
    width: 36.979vw;
    font-size: 4.16666vw;
    line-height: 4.6875vw;
  }
  .purchase-confirm p {
    width: 57.81vw;
    margin: 0 auto;
    font-size: 1.9531vw;
    line-height: 3.2552vw;
  }
  .back-home {
    width: 57.81vw;
    background-color: rgba(216, 125, 74, 1);
    margin: 19.531vw auto 5vw;
    padding: 0.9375em 0;
    font-size: 1.6927vw;
    line-height: 2.3125vw;
  }
  .back-home a {
    width: 34.765vw;
    margin: 0;
  }
  .sign {
    width: 8.33333vw;
    height: 8.33333vw;
    border-radius: 50%;
    margin: 6.25vw 0 0 6.25vw;
  }
  .sign img {
    width: 2.9361vw;
    padding: 3.1614vw 0 0 2.7018vw;
  }
  main {
    display: block;
  }
  .left-side {
    width: 89.7135vw;
    margin: 0 auto;
  }
  .left-side h1 {
    font-size: 4.1666vw;
    line-height: 4.687vw;
    letter-spacing: 0.148vw;
    padding: 3.906vw 0 0 3.6458vw;
  }
  .left-side h2 {
    padding: 3.906vw 0 0 3.6458vw;
    font-size: 1.6927vw;
    line-height: 3.2552vw;
    letter-spacing: 0.121vw;
  }
  .left-side h3 {
    padding: 2.0833vw 0 0 0;
    font-size: 1.562vw;
    line-height: 2.13411vw;
    margin: 0;
  }
  .name-mail {
    width: 82.552vw;
  }

  .buyers-name,
  .buyers-mail,
  .buyers-phone,
  .buyers-zip,
  .buyers-city,
  .buyers-country,
  .eMoneyNumber,
  .eMoneyPin {
    padding: 2.343vw 0 2.343vw 3.125vw;
    width: 37.109vw;
    border-radius: 1.0416vw;
    font-size: 1.8229vw;
    line-height: 2.4895vw;
  }
  .phone-number {
    width: 82.552vw;
    margin: 0 auto;
  }

  .shopping-details {
    width: 82.552vw;
    margin: 0 auto;
  }
  .address {
    padding: 2.343vw 0 2.343vw 3.125vw;
    width: 79.427vw;
    border-radius: 1.0416vw;
    font-size: 1.8229vw;
    line-height: 2.4895vw;
  }
  .zip-city {
    width: 82.552vw;
  }
  .country {
    width: 82.552vw;
    margin: 0 auto;
  }
  .payment-details {
    margin-top: 4.236vw;
    margin-bottom: 0;
  }
  .payment-details h2 {
    padding: 3.906vw 0 0 3.6458vw;
  }
  .payment-method {
    width: 82.552vw;
    margin: 0 auto;
  }
  .options {
    padding-left: 42.382vw;
    width: 40.234vw;
    margin: 0 auto;
  }
  .radio1,
  .radio2 {
    width: 40.234vw;
    border-radius: 1.0416vw;
    border: 2px solid rgba(207, 207, 207, 1);
  }
  .radio2 {
    margin-top: 2.0833vw;
  }
  .radio1 h4,
  .radio2 h4 {
    margin-left: 2.0833vw;
    width: fit-content;
    font-size: 1.82291vw;
    line-height: 2.4895vw;
  }
  .button1,
  .button2 {
    margin: auto 0 auto 2.0833vw;
    width: 2.6041vw;
  }
  .money-pin {
    width: 82.552vw;
    margin: 0 auto;
    padding-bottom: 3.906vw;
  }

  .right-side {
    width: 89.7135vw;
    margin: 4.16666vw auto;
  }
  .right-side h5 {
    width: 12.89vw;
    font-size: 2.3437vw;
    line-height: 3.2018vw;
    margin: 0;
    padding: 4.16666vw 0 0 4.16666vw;
  }

  .final-carts {
    margin-top: 4.1666vw;
  }
  .final-carts img {
    width: 8.33333vw;
    height: 8.33333vw;
  }
  .final-interior {
    width: 81.1197vw;
    margin: 0 auto;
    padding-bottom: 4.1666vw;
  }
  .final-content {
    width: 81.1197vw;
  }
  .final-content h5 {
    width: 14.1534vw;
    font-size: 1.9531vw;
    line-height: 3.2552vw;
    margin: 0 0 0 2.0833vw;
    padding: 0;
  }
  .final-content h6 {
    font-size: 1.9531vw;
    line-height: 3.2552vw;
    margin: 0 0 0 2.0833vw;
    width: 6.64vw;
  }
  .finalCount {
    width: 1.953vw;
    margin: auto 0 auto 54.984vw;
    font-size: 1.9531vw;
    line-height: 3.2552vw;
  }
  .grand-total {
    padding-top: 7vw;
    width: 81.1197vw;
    margin: 0 auto;
  }
  .grand-total h6 {
    width: 5.9895vw;
    font-size: 1.9531vw;
    line-height: 3.2552vw;
  }
  .grand-total span {
    font-size: 2.343vw;
    line-height: 3.2018vw;
  }
  .pay {
    width: 81.1197vw;
    margin: 0 auto;
    padding: 1.9531vw 0;
    font-size: 1.6927vw;
    line-height: 2.3125vw;
  }

  footer {
    margin-top: 12.5vw;
  }
  .foot-nav {
    width: 89.713541vw;
    padding-top: 7.8125vw;
    margin: 0 5.20833vw;
    display: block;
  }
  .foot-nav-content {
    margin-top: 4.16666vw;
  }
  .foot-nav-content a {
    margin: 0;
    margin-right: 4.42708vw;
    font-size: 1.6927083vw;
    line-height: 3.2552083vw;
    letter-spacing: 0.260416vw;
  }
  .foot-content {
    flex-direction: column;
    width: 89.71354vw;
    margin: 0 5.208333vw;
    font-size: 1.95312vw;
    line-height: 3.2552vw;
  }
  .conclusion {
    width: 89.71354vw;
    margin-top: 4.16666vw;
  }
  .conclusion p {
    margin: 0;
  }
  .copyright {
    width: 33.59375vw;
    margin-top: 10.4166vw;
  }
  .logos {
    display: flex;
    margin: -5.98958vw 0 5.98958vw 0;
    justify-content: flex-end;
  }
  .twitter {
    margin: 0 2.083333vw;
  }
}

@media (max-width: 375px) {
  .loader {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2005;
  }
  .hamburger {
    display: block;
    padding-right: 0;
    width: 6.4vw;
  }
  .hamburger span {
    display: block;
    width: 4.266vw;
    background-color: white;
    margin-top: 0.8vw;
  }

  nav {
    padding-top: 8.533333vw;
    margin: 0 auto;
    width: 87.2vw;
  }
  .logo img,
  .logo-foot img {
    width: 38.133333vw;
    margin: 0 auto;
    padding-right: 0;
  }

  .cart-interior {
    width: 87.2vw;
    margin: 6.4vw 6vw;
  }
  .shopping-cart {
    width: 87.2vw;
    margin: 0;
  }
  .shopping-carts {
    width: 87.2vw;
  }

  .buyItem {
    width: 87.2vw;
    margin-left: 0vw;
  }
  .buyItem img {
    width: 17.066vw;
    height: 17.066vw;
  }
  .head {
    width: 72.266vw;
  }
  .cartCount {
    font-size: 4.8vw;
    line-height: 6.5573vw;
    letter-spacing: 0.344vw;
  }

  .remove {
    font-size: 4vw;
    line-height: 6.666vw;
  }
  .content {
    width: 72.266vw;
  }
  .content h5 {
    font-size: 4vw;
    line-height: 6.666vw;
    width: 25vw;
  }
  .content h6 {
    font-size: 4vw;
    line-height: 6.666vw;
  }
  .cart-btn {
    height: 8.5333vw;
    width: 18.6vw;
  }
  .countOfProduct {
    width: 4.26666vw;
    margin: auto 3.2vw;
    font-size: 3.4666vw;
    line-height: 4.736vw;
    letter-spacing: 0.2666vw;
    text-align: center;
  }
  .button-minus {
    padding-right: 0;
  }
  .button-plus {
    padding-left: 0;
  }
  .total {
    margin-top: 8.53333vw;
    width: 72.266vw;
  }
  .total h6 {
    width: 12.2666vw;
    font-size: 4vw;
    line-height: 6.666vw;
  }
  .total span {
    font-size: 4.8vw;
    line-height: 6.5573vw;
  }
  .checkout {
    width: 72.266vw;
    margin: 6.4vw auto;
  }
  .checkout a {
    width: 43.4666vw;
    font-size: 3.4666vw;
    line-height: 4.736vw;
    letter-spacing: 0.2666vw;
  }
  .go-back {
    width: 87.2vw;
    padding: 6.4vw 6.4vw 0 6.4vw;
  }
  .go-back a {
    font-size: 4vw;
    line-height: 6.66666vw;
  }

  button {
    border: none;
  }

  .containers {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .store {
    font-size: 3.46666667vw;
    line-height: 4.736vw;
    letter-spacing: 0.26666667vw;
    margin-top: 4.53333333vw;
  }
  .headphones {
    width: 19.4453333vw;
  }
  .speakers {
    width: 22.4106667vw;
    margin-top: 4.26666667vw;
  }
  .earphones {
    width: 27.4666667vw;
    margin-top: 0;
    margin-top: 4.26666667vw;
  }

  .headphone {
    margin-top: -13.86666667vw;
    padding-top: 23.46666667vw;
    padding-bottom: 5.86666667vw;
    border-radius: 2.133333333vw;
  }

  .speaker {
    margin-top: -13.86666667vw;
    padding-top: 23.46666667vw;
    padding-bottom: 5.86666667vw;
    border-radius: 2.133333333vw;
  }

  .earphone {
    margin-top: -13.86666667vw;
    padding-top: 23.46666667vw;
    padding-bottom: 5.86666667vw;
    border-radius: 2.133333333vw;
  }

  .purchase-confirm {
    width: 87.2vw;
    margin: 0 auto;
    position: fixed;
    z-index: 1003;
    left: 6%;
    top: 21%;
  }
  .purchase-confirm h1 {
    margin-left: 8.5333vw;
    width: 70.1333vw;
    font-size: 6.4vw;
    line-height: 7.4666vw;
  }
  .purchase-confirm p {
    width: 70.1333vw;
    margin: 0 auto;
    font-size: 4vw;
    line-height: 6.66666vw;
  }
  .back-home {
    width: 70.1333vw;
    margin: 19.531vw auto 5vw;
    padding: 0.9375em 0;
    font-size: 3.4666vw;
    line-height: 4.736vw;
  }
  .back-home a {
    width: 42.1333vw;
    margin: 0;
  }
  .sign {
    width: 17.066vw;
    height: 17.066vw;
    border-radius: 50%;
    margin: 8.5333vw 0 0 8.5333vw;
  }
  .sign img {
    width: 6.0133vw;
    padding: 6.4746vw 0 0 5.5333vw;
  }

  .left-side {
    width: 87.2vw;
    margin: 0 auto;
  }
  .left-side h1 {
    font-size: 7.4666vw;
    line-height: 10.2vw;
    letter-spacing: 0.266vw;
    padding: 6.4vw 0 0 6.4vw;
  }
  .left-side h2 {
    padding: 6.4vw 0 0 6.4vw;
    font-size: 3.4666vw;
    line-height: 6.666vw;
    letter-spacing: 0.248vw;
  }
  .left-side h3 {
    padding: 2.0833vw 0 0 0;
    font-size: 3.2vw;
    line-height: 4.3706vw;
    margin: 0;
  }
  .name-mail {
    width: 74.666vw;
    display: block;
  }

  .buyers-name,
  .buyers-mail,
  .buyers-phone,
  .buyers-zip,
  .buyers-city,
  .buyers-country,
  .eMoneyNumber,
  .eMoneyPin {
    padding: 4vw 0 4vw 6.4vw;
    width: 68.2666vw;
    border-radius: 2.1333vw;
    font-size: 3.7333vw;
    line-height: 5.0986vw;
  }
  .phone-number {
    width: 74.666vw;
    margin: 0 auto;
  }

  .shopping-details {
    width: 74.666vw;
    margin: 0 auto;
  }
  .address {
    padding: 4vw 0 4vw 6.4vw;
    width: 68.2666vw;
    border-radius: 2.1333vw;
    font-size: 3.7333vw;
    line-height: 5.0986vw;
  }
  .zip-city {
    width: 74.666vw;
    display: block;
  }
  .country {
    width: 74.666vw;
    margin: 0 auto;
  }
  .payment-details {
    width: 74.666vw;
    margin: 8.5333vw auto;
  }
  .payment-details h2 {
    padding: 0;
  }
  .payment-method {
    width: 74.666vw;
    margin: 0 auto;
  }
  .options {
    padding-left: 0;
    width: 74.666vw;
    margin: 0 auto;
  }
  .radio1,
  .radio2 {
    width: 74.666vw;
    border-radius: 2.1333vw;
    border: 2px solid rgba(207, 207, 207, 1);
  }
  .radio2,
  .radio1 {
    margin-top: 4.2666vw;
  }
  .radio1 h4,
  .radio2 h4 {
    margin-left: 4.2666vw;
    font-size: 3.7333vw;
    line-height: 5.0986vw;
  }
  .button1,
  .button2 {
    margin: auto 0 auto 2.0833vw;
    width: 2.6041vw;
  }
  .money-pin {
    width: 74.666vw;
    display: block;
    margin: 0 auto;
    padding-bottom: 8.5333vw;
  }

  .right-side {
    width: 87.2vw;
    margin: 8.5333vw auto;
  }
  .right-side h5 {
    width: 26.4vw;
    font-size: 4.8vw;
    line-height: 6.55733vw;
    margin: 0;
    padding: 8.5333vw 0 0 6.4vw;
  }

  .final-carts {
    margin-top: 8.5333vw;
  }
  .final-carts img {
    width: 17.0666vw;
    height: 17.0666vw;
  }
  .final-interior {
    width: 74.666vw;
    margin: 0 auto;
    padding-bottom: 8.5333vw;
  }
  .final-content {
    width: 74.666vw;
  }
  .final-content h5 {
    width: 32vw;
    font-size: 4vw;
    line-height: 6.666w;
    margin: 0 0 0 4.266vw;
    padding: 0;
  }
  .final-content h6 {
    font-size: 4vw;
    line-height: 6.666w;
    margin: 0 0 0 4.266vw;
    width: 13.6vw;
  }
  .finalCount {
    width: 4vw;
    margin: auto 0 auto 16vw;
    font-size: 4vw;
    line-height: 6.666w;
  }
  .grand-total {
    padding-top: 7vw;
    width: 74.4vw;
    margin: 0 auto;
  }
  .grand-total h6 {
    width: 12.266vw;
    font-size: 4vw;
    line-height: 6.666vw;
  }
  .grand-total span {
    font-size: 4vw;
    line-height: 6.666vw;
  }
  .pay {
    width: 74.4vw;
    margin: 0 auto;
    padding: 4vw 0;
    font-size: 3.4666vw;
    line-height: 4.736vw;
  }

  footer {
    margin-top: 32vw;
  }
  .logo-foot {
    text-align: center;
  }
  .foot-nav {
    width: 89.713541vw;
    padding-top: 13.86666vw;
    margin: 0 5.20833vw;
    display: block;
  }
  .foot-nav-content {
    margin-top: 8.533333vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .foot-nav-content a {
    margin: 0;
    margin-right: 0;
    margin-top: 4.26666vw;
    font-size: 3.466666vw;
    line-height: 6.666666vw;
    letter-spacing: 0.533333vw;
  }
  .foot-content {
    width: 87.2vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 12.8vw 6.4vw 0;
    font-size: 4vw;
    line-height: 6.66666vw;
  }
  .conclusion {
    width: 87.2vw;
    margin-top: 4.16666vw;
  }
  .conclusion p {
    margin: 0;
  }
  .copyright {
    width: 68.8vw;
    margin: 12.8vw auto 0;
  }
  .logos {
    width: 27.7333vw;
    display: flex;
    margin: 12.8vw auto;
    justify-content: center;
  }
  .twitter {
    margin: 0 4.26666vw;
  }
  .cart img {
    width: 6.21866vw;
  }
  .hamburger img {
    width: 4.2666vw;
  }
  .logo img {
    width: 38.133333vw;
  }
  .logo-foot img {
    width: 38.133333vw;
  }
}
