.loader {
  background-color: black;
  width: 100%;
  height: 100vw;
  position: fixed;
  z-index: 1003;
}

.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.cd-transition-layer .bg-layer {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
}
.bg-layer img {
  width: 100%;
  position: fixed;
  height: 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}

.cd-transition-layer.opening .bg-layer {
  animation: cd-sequence 1s steps(24);
  animation-fill-mode: forwards;
}

.cd-transition-layer.closing .bg-layer {
  animation: cd-sequence-reverse 1s steps(24);
  animation-fill-mode: forwards;
}

.no-cssanimations .cd-transition-layer {
  display: none;
}

@keyframes cd-sequence {
  0% {
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    transform: translateY(-50%) translateX(-98%);
  }
}

@keyframes cd-sequence-reverse {
  0% {
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    transform: translateY(-50%) translateX(-2%);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
.sticky {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 999;
}
.sticky a {
  font-size: 0.90277778vw;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}
button {
  background: none;
  border: none;
}
nav {
  width: 77.013vw;
  padding: 2.22vw 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-content {
  font-size: 0.90277vw;
  line-height: 1.736111vw;
  letter-spacing: 0.13888vw;
}
.nav-content a {
  margin: 0;
  margin-right: 2.361111vw;
}
.nav-content a:hover {
  color: rgba(216, 125, 74, 1);
}
.logo img {
  width: 9.930555vw;
}

.go-back {
  width: 77.083333vw;
  margin: 5.486111vw auto 0;
  font-size: 1.041666vw;
  line-height: 1.736111vw;
}
.go-back a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.041666vw;
  line-height: 1.736111vw;
}

.product-info {
  width: 77.083333vw;
  margin: 3.88888vw auto 0;
  display: flex;
}
.product-info img {
  width: 37.5vw;
}

.product-info-content {
  width: 30.9375vw;
  padding: 5.34722vw 0 5.34722vw 8.645833vw;
}

.product-info-content span {
  color: rgba(216, 125, 74, 1);
  font-size: 0.97222222vw;
  line-height: 1.319vw;
  letter-spacing: 0.69444vw;
  text-transform: uppercase;
}
.product-info-content h2 {
  margin: 1.1111111vw 0 0;
  font-size: 2.77777vw;
  text-transform: uppercase;
}
.product-info-content p {
  margin: 2.22222vw 0 0;
  font-size: 1.04166667vw;
  line-height: 1.73611111vw;
  color: rgba(0, 0, 0, 1);
  opacity: 0.5;
}
.price {
  margin-top: 2.22222vw;
  font-size: 1.25vw;
  line-height: 1.707638vw;
  letter-spacing: 0.089583vw;
  font-weight: 700;
}
.quantity {
  width: fit-content;
  display: flex;
  margin-top: 3.26388vw;
}

.quant {
  display: flex;
  align-items: center;
  background-color: rgba(241, 241, 241, 1);
}

.quant span {
  color: rgba(0, 0, 0, 1);
  opacity: 0.25;
}
.increment-itm,
.decrement-itm {
  font-size: 0.902777vw;
  line-height: 1.233333vw;
  letter-spacing: 0.069444vw;
}
.increment {
  cursor: pointer;
  padding-right: 1.041666em;
}
.decrement {
  cursor: pointer;
  padding-left: 1.041666em;
}
input[type="number"],
textarea {
  width: 2.384259vw;
  background-color: rgba(241, 241, 241, 1);
  text-align: center;
  border: none;
  font-size: 0.902777vw;
  line-height: 1.233333vw;
  letter-spacing: 0.069444vw;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.btn {
  margin-left: 1.11111vw;
  cursor: pointer;
  width: fit-content;
  font-size: 0.902778vw;
  padding: 1.15384em 2.307692em;
  background-color: rgb(216, 125, 74);
  letter-spacing: 0.0694444vw;
}
.btn:hover {
  background-color: rgba(251, 175, 133, 1);
}

.nav-content a {
  margin: 0 1.18vw;
}
.nav-content a:hover {
  color: rgba(216, 125, 74, 1);
}
.features {
  width: 77.08333vw;
  display: flex;
  margin: 11.11111vw auto 0;
}
.features-content {
  width: 44.09722vw;
}
.features-content h3 {
  margin: 0 0 2.22222vw;
  text-transform: uppercase;
  font-size: 2.2222vw;
  line-height: 2.5vw;
  letter-spacing: 0.079166vw;
}
.features-content p {
  margin: 0;
  font-size: 1.041666vw;
  line-height: 1.73611vw;
  opacity: 0.5;
}
.box-features {
  margin: 0;
  width: 24.3055vw;
  padding-left: 8.68055vw;
}
.box-features h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.2222vw;
  line-height: 2.5vw;
  letter-spacing: 0.079166vw;
}
ul {
  list-style: none;
  padding: 0;
  margin: 2.22222vw 0 0;
  font-size: 1.041666vw;
  line-height: 1.73611vw;
  color: rgba(0, 0, 0, 0.5);
}
ul span {
  color: rgba(216, 125, 74, 1);
  padding-right: 1.66666vw;
}
.imges {
  width: 77.08333vw;
  display: flex;
  margin: 11.1111vw auto 0;
}
.smaller {
  padding-right: 2.083333vw;
}
.smaller img {
  width: 30.20833vw;
}
.small2 {
  padding-top: 2.8222vw;
}
.zx7-small img {
  width: 44.097222vw;
}
.suggestions {
  width: 77.08333vw;
  margin: 11.11111vw auto 0;
}
.suggestions h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2222vw;
  line-height: 2.5vw;
  letter-spacing: 0.097916vw;
}
.suggestion {
  margin-top: 4.4444vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.suggestion h4 {
  text-transform: uppercase;
  margin: 0;
  margin-top: 2.7777vw;
  font-size: 1.6666vw;
  line-height: 2.27638vw;
  letter-spacing: 0.1187vw;
}
.suggestion1,
.suggestion2,
.suggestion3 {
  width: 24.30555vw;
}
.suggestion1 .btn,
.suggestion2 .btn,
.suggestion3 .btn {
  margin: 2.22222vw auto 0;
}
.wrap {
  background-color: rgba(241, 241, 241, 1);
}
.suggestion1 .wrap img {
  width: 9.9388vw;
  padding: 5.069444vw 0;
}
.suggestion2 .wrap img {
  width: 13.25069vw;
  padding: 4.16666vw 0;
}
.suggestion3 .wrap img {
  width: 10.2993vw;
  padding: 4.34027vw 0;
}
.products {
  display: flex;
  justify-content: space-between;
  padding: 0 11.4583333vw;
  width: 77.0833333vw;
  margin-top: 11.11111vw;
}
.products-menu {
  display: none;
}
.products h6 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 1.25vw;
  line-height: 1.70763889vw;
  letter-spacing: 0.08958333vw;
}
.products-menu h6 {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-size: 1.25vw;
  line-height: 1.70763889vw;
  letter-spacing: 0.08958333vw;
}
.containers {
  /* height: 19.7222222vw; */
  width: 24.3055556vw;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.store {
  color: rgba(0, 0, 0, 1);
  font-size: 0.90277778vw;
  line-height: 1.23333333vw;
  letter-spacing: 0.06944444vw;
  margin-top: 1.04166667vw;
}
.store:hover {
  color: rgba(216, 125, 74, 1);
}

.arrow {
  color: rgba(216, 125, 74, 1);
}
.headphones {
  width: 8.53819444vw;
}
.speakers {
  width: 8.43680556vw;
  margin-top: 0.52083333vw;
}
.earphones {
  margin-top: 0.9375vw;
  width: 8.68055556vw;
}

.headphone {
  background-color: rgba(241, 241, 241, 1);
  margin-top: -5.55555556vw;
  padding-top: 8.05555556vw;
  padding-bottom: 2.08333333vw;
  border-radius: 0.55555556vw;
}

.speaker {
  background-color: rgba(241, 241, 241, 1);
  margin-top: -5.03472222vw;
  padding-top: 8.05555556vw;
  padding-bottom: 2.08333333vw;
  border-radius: 0.55555556vw;
}

.earphone {
  background-color: rgba(241, 241, 241, 1);
  margin-top: -4.09722222vw;
  padding-top: 8.05555556vw;
  padding-bottom: 2.08333333vw;
  border-radius: 0.55555556vw;
}
.description {
  width: 77.08333vw;
  margin: 11.11111vw 11.458333vw 0;
  background-image: url(/images/lisMus.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.description-content {
  color: black;
  margin-right: 8.680555vw;
  padding: 10.208333vw 0;
  width: 30.902778vw;
}
.description-content span {
  color: rgb(216, 125, 74);
}
.description-content h2 {
  text-transform: uppercase;
  font-size: 2.777777vw;
  line-height: 3.055555vw;
  letter-spacing: 0.099305vw;
  margin: 0;
}
.description-content p {
  opacity: 0.5;
  margin-top: 2.22222vw;
  font-size: 1.041666vw;
  line-height: 1.7361111vw;
}
footer {
  background-color: rgb(16, 16, 16);
  margin-top: 11.111111vw;
}
.foot-nav {
  padding-top: 5.2083333vw;
  color: white;
  margin: 0 11.458333vw;
}
.foot-nav-content a {
  font-size: 0.90277vw;
  line-height: 1.73611vw;
  letter-spacing: 0.13888vw;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-left: 2.36111vw;
}
.foot-nav-content a:hover {
  color: rgba(216, 125, 74, 1);
}
.foot-content {
  width: 77.08333vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.04166vw;
  line-height: 1.736111vw;
}
.conclusion {
  margin-top: 2.5vw;
  color: white;
  opacity: 0.5;
  width: 37.5vw;
}
.copyright {
  margin-bottom: 3.333333vw;
}
.logos {
  display: flex;
  margin-top: 7.291666vw;
  justify-content: flex-end;
}
.twitter {
  margin: 0 1.11111vw;
}
path:hover {
  fill: rgb(216, 125, 74);
}
svg {
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .loader {
    height: 100%;
  }
  .sticky {
    width: 100%;
  }
  .hamburger {
    display: block;
    padding-right: 5.46875vw;
    width: 1em;
  }

  .hamburger span {
    display: block;
    width: 1em;
    height: 0.1875em;
    background-color: white;
    margin-top: 0.1875em;
    transition: all 0.5s ease-in-out;
  }
  nav {
    padding: 4.1667vw 0;
    margin: 0 auto;
    width: 89.7135417vw;
  }
  .logo img,
  .logo-foot img {
    padding-right: 56.640625vw;
    width: 18.6197317vw;
  }
  .nav-content {
    display: none;
  }
  .go-back {
    width: 89.778645vw;
    margin: 4.29687vw auto 0;
  }
  .go-back a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.9531vw;
    line-height: 3.2552vw;
  }

  .product-info {
    width: 89.778645vw;
    margin: 3.125vw auto 0;
    display: flex;
  }
  .img {
    background-color: rgba(241, 241, 241, 1);
  }
  .product-info img {
    padding-top: 17.1875vw;
  }
  .product-info-content {
    width: 44.27083vw;
    padding: 5.85937vw 0 5.85937vw 8.98437vw;
  }

  .product-info-content span {
    font-size: 1.5625vw;
    line-height: 2.134114vw;
    letter-spacing: 1.1158854vw;
  }
  .product-info-content h2 {
    margin: 2.2135416vw 0 0;
    font-size: 3.645833vw;
    line-height: 4.1666666vw;
    letter-spacing: 0.130208vw;
  }
  .product-info-content p {
    margin: 4.16666vw 0 0;
    font-size: 1.953125vw;
    line-height: 3.255208vw;
    font-weight: 500;
  }
  .price {
    margin-top: 4.16666vw;
    font-size: 2.3437vw;
    line-height: 3.20182vw;
    letter-spacing: 0.1679vw;
  }
  .quantity {
    width: fit-content;
    display: flex;
    margin-top: 4.03645vw;
  }

  .quant {
    display: flex;
  }
  .increment-itm,
  .decrement-itm {
    font-size: 1.6927vw;
    line-height: 2.3125vw;
    letter-spacing: 0.130208vw;
  }

  input[type="number"],
  textarea {
    width: 5.20833vw;
    font-size: 1.6927vw;
    line-height: 2.3125vw;
    letter-spacing: 0.130208vw;
  }

  .btn {
    margin-left: 2.08333vw;
    font-size: 1.692708vw;
    padding: 1.15384em 2.307692em;
    letter-spacing: 0.130208vw;
  }
  .features {
    width: 89.71354vw;
    display: block;
    margin: 15.625vw auto 0;
  }
  .features-content {
    width: 89.71354vw;
  }
  .features-content h3 {
    margin: 0 0 4.16666vw;
    font-size: 4.1666vw;
    line-height: 4.6875vw;
    letter-spacing: 0.1484vw;
  }
  .features-content p {
    margin: 0;
    font-size: 1.953125vw;
    line-height: 3.255208vw;
    opacity: 0.5;
  }
  .box-features {
    margin: 15.625vw 0 0;
    width: 71.4843vw;
    padding-left: 0;
    display: flex;
  }
  .box-features h3 {
    margin: 0;
    font-size: 4.1666vw;
    line-height: 4.6875vw;
    letter-spacing: 0.1484vw;
    width: 44.1406vw;
  }
  ul {
    padding: 0;
    margin: 0;
    font-size: 1.953125vw;
    line-height: 3.255208vw;
  }
  ul span {
    padding-right: 3.125vw;
  }
  .imges {
    width: 89.8437vw;
    margin: 15.625vw auto 0;
  }
  .smaller {
    padding-right: 2.3437vw;
  }
  .smaller img {
    width: 36.0677vw;
  }
  .small2 {
    padding-top: 2.0416vw;
  }

  .zx7-small img {
    width: 51.43229vw;
  }
  .suggestions {
    width: 89.7135vw;
    margin: 15.625vw auto 0;
  }
  .suggestions h3 {
    font-size: 4.16666vw;
    line-height: 4.6875vw;
    letter-spacing: 0.1484vw;
  }
  .suggestion {
    margin-top: 7.29166vw;
  }
  .suggestion h4 {
    margin-top: 5.20833vw;
    font-size: 3.125vw;
    line-height: 4.26822vw;
    letter-spacing: 0.2226vw;
  }
  .suggestion1,
  .suggestion2,
  .suggestion3 {
    width: 29.03645vw;
  }
  .suggestion1 .btn,
  .suggestion2 .btn,
  .suggestion3 .btn {
    margin: 4.16666vw auto 0;
  }
  .suggestion1 .wrap img {
    width: 18.63541vw;
    padding: 9.5052vw 0;
  }
  .suggestion2 .wrap img {
    width: 24.845vw;
    padding: 7.6822vw 0;
  }
  .suggestion3 .wrap img {
    width: 19.31119vw;
    padding: 8.13802vw 0;
  }
  .products {
    display: flex;
    justify-content: space-between;
    padding: 0 5.20833333vw;
    width: 89.7135417vw;
    margin-top: 15.625vw;
  }
  .products h6 {
    margin: 0;
    font-size: 1.953125vw;
    line-height: 0.02667969vw;
    letter-spacing: 0.00139323vw;
  }
  .products-menu {
    right: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 6.4vw;
    width: 89.7135417vw;
    text-align: center;
    padding: 8.8vw 6.4vw;
    margin-top: 12.5vw;
    z-index: 10;
    position: fixed;
    border-radius: 1.041666vw;
    top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .products-menu h6 {
    margin: 0;
    font-size: 1.953125vw;
    line-height: 0.02667969vw;
    letter-spacing: 0.00139323vw;
  }

  .containers {
    width: 29.0364583vw;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .store {
    font-size: 1.69270833vw;
    line-height: 2.3125vw;
    letter-spacing: 0.13020833vw;
    margin-top: 2.21354167vw;
  }
  .headphones {
    width: 10.40625vw;
  }
  .speakers {
    width: 10.9427083vw;
  }
  .earphones {
    width: 13.4114583vw;
    margin-top: 0;
  }

  .headphone {
    margin-top: -6.77083333vw;
    padding-top: 11.4583333vw;
    padding-bottom: 2.86458333vw;
    border-radius: 1.04166667vw;
  }

  .speaker {
    margin-top: -6.70572917vw;
    padding-top: 11.4583333vw;
    padding-bottom: 2.86458333vw;
    border-radius: 1.04166667vw;
  }

  .earphone {
    margin-top: -6.77083333vw;
    padding-top: 11.4583333vw;
    padding-bottom: 2.86458333vw;
    border-radius: 1.04166667vw;
  }
  .description {
    width: 89.713541vw;
    margin: 12.5vw 5.208333vw 0;
    border-radius: 1.041667vw;
    background-image: url(/images/lisMusTab.png);
    background-position: top;
  }
  .description-content {
    text-align: center;
    margin: 0;
    margin: 8.20312vw auto 0;
    padding-top: 47.26562vw;
    width: 74.609375vw;
  }
  .description-content h2 {
    font-size: 5.208333vw;
    line-height: 5.72916667vw;
    letter-spacing: 0.186197vw;
    margin: 0;
  }
  .description-content p {
    margin-top: 4.16666vw;
    font-size: 1.953125vw;
    line-height: 3.2552083vw;
  }
  footer {
    margin-top: 12.5vw;
  }
  .foot-nav {
    width: 89.713541vw;
    padding-top: 7.8125vw;
    margin: 0 5.20833vw;
    display: block;
  }
  .foot-nav-content {
    margin-top: 4.16666vw;
  }
  .foot-nav-content a {
    margin: 0;
    margin-right: 4.42708vw;
    font-size: 1.6927083vw;
    line-height: 3.2552083vw;
    letter-spacing: 0.260416vw;
  }
  .foot-content {
    flex-direction: column;
    width: 89.71354vw;
    margin: 0 5.208333vw;
    font-size: 1.95312vw;
    line-height: 3.2552vw;
  }
  .conclusion {
    width: 89.71354vw;
    margin-top: 4.16666vw;
  }
  .conclusion p {
    margin: 0;
  }
  .copyright {
    width: 33.59375vw;
    margin-top: 10.4166vw;
  }
  .logos {
    display: flex;
    margin: -5.98958vw 0 5.98958vw 0;
    justify-content: flex-end;
  }
  .twitter {
    margin: 0 2.083333vw;
  }
}

@media (max-width: 375px) {
  .loader {
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1003;
  }
  .hamburger {
    display: block;
    padding-right: 0;
    width: 6.4vw;
  }
  .hamburger span {
    display: block;
    width: 4.266vw;
    background-color: white;
    margin-top: 0.8vw;
  }

  nav {
    padding-top: 8.533333vw;
    margin: 0 auto;
    width: 87.2vw;
  }
  .logo img,
  .logo-foot img {
    width: 38.133333vw;
    margin: 0 auto;
    padding-right: 0;
  }
  .go-back {
    width: 87.2vw;
  }
  .go-back a {
    font-size: 4vw;
    line-height: 6.66666vw;
  }
  .product-info {
    width: 87.2vw;
    margin: 3.125vw auto 0;
    display: block;
    text-align: center;
  }
  .img {
    background-color: rgba(241, 241, 241, 1);
  }
  .product-info img {
    padding: 14.93333vw 19.46666vw;
    width: 48.26666vw;
  }
  .product-info-content {
    width: 87.2vw;
    padding: 0;
    text-align: left;
    margin-top: 8.533333vw;
  }

  .product-info-content span {
    font-size: 3.73333vw;
    line-height: 5.098666vw;
    letter-spacing: 2.66666vw;
  }
  .product-info-content h2 {
    margin: 6.4vw 0 0;
    font-size: 7.46666vw;
    line-height: 10.2vw;
    letter-spacing: 0.26666vw;
  }
  .product-info-content p {
    margin: 6.4vw 0 0;
    font-size: 4vw;
    line-height: 6.66666vw;
  }
  .price {
    margin-top: 6.4vw;
    font-size: 4.8vw;
    line-height: 6.55733vw;
    letter-spacing: 0.344vw;
  }
  .quantity {
    width: fit-content;
    display: flex;
    margin-top: 8.26666vw;
  }

  .quant {
    display: flex;
  }
  .increment-itm,
  .decrement-itm {
    font-size: 3.4666vw;
    line-height: 4.736vw;
    letter-spacing: 0.26vw;
  }

  .increment {
    padding-right: 1.95312vw;
  }
  .decrement {
    padding-left: 1.95312vw;
  }
  input[type="number"],
  textarea {
    width: 10.66666vw;
    font-size: 3.4666vw;
    line-height: 4.736vw;
    letter-spacing: 0.26vw;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  .btn {
    margin-left: 2.08333vw;
    font-size: 3.46666vw;
    line-height: 4.736vw;
    letter-spacing: 0.2666vw;
  }

  .features {
    width: 87.2vw;
    margin: 23.46666vw auto 0;
  }
  .features-content {
    width: 87.2vw;
  }
  .features-content h3 {
    margin: 0 0 6.4vw;
    font-size: 6.4vw;
    line-height: 9.6vw;
    letter-spacing: 0.22933vw;
  }
  .features-content p {
    margin: 0;
    font-size: 4vw;
    line-height: 6.6666vw;
  }
  .second {
    margin-top: 9.6vw;
  }
  .box-features {
    margin: 23.46666vw 0 0;
    width: 87.2vw;
    display: block;
  }
  .box-features h3 {
    margin: 0;
    font-size: 6.4vw;
    line-height: 9.6vw;
    letter-spacing: 0.22933vw;
  }
  ul {
    padding: 0;
    margin: 6.4vw 0 0;
    font-size: 4vw;
    line-height: 6.6666vw;
  }
  ul span {
    padding-right: 6.4vw;
  }
  .imges {
    width: 87.2vw;
    margin: 23.46666vw auto 0;
    display: block;
  }
  .smaller {
    padding-right: 0;
  }
  .smaller img {
    width: 87.2vw;
  }
  .small2 {
    padding-top: 5.33333vw;
  }

  .zx7-small img {
    width: 87.2vw;
    padding-top: 5.33333vw;
  }

  .suggestions {
    width: 87.2vw;
    margin: 32vw auto 0;
  }
  .suggestions h3 {
    font-size: 6.4vw;
    line-height: 9.6vw;
    letter-spacing: 0.22933vw;
  }
  .suggestion {
    margin-top: 10.6666vw;
    display: block;
  }
  .suggestion h4 {
    margin-top: 8.53333vw;
    font-size: 6.4vw;
    line-height: 8.74133vw;
    letter-spacing: 0.456vw;
  }
  .suggestion1,
  .suggestion2,
  .suggestion3 {
    width: 87.2vw;
  }
  .suggestion1 .btn,
  .suggestion2 .btn,
  .suggestion3 .btn {
    margin: 8.53333vw auto 0;
  }
  .suggestion2 .wrap,
  .suggestion3 .wrap {
    margin-top: 14.93333vw;
  }
  .suggestion1 .wrap img {
    width: 19.08266vw;
    padding: 4.53333vw 0;
  }
  .suggestion2 .wrap img {
    width: 21.2213vw;
    padding: 4.93333vw 0;
  }
  .suggestion3 .wrap img {
    width: 19.4666vw;
    padding: 4.53333vw 0;
  }
  .products {
    display: block;
    padding: 0 6.4vw;
    width: 87.2vw;
    margin-top: 32vw;
    text-align: center;
  }
  .products h6 {
    margin: 0;
    font-size: 4vw;
    line-height: 5.464vw;
    letter-spacing: 0.28533333vw;
  }
  .products-menu {
    display: none;
  }

  button {
    border: none;
  }

  .containers {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .store {
    font-size: 3.46666667vw;
    line-height: 4.736vw;
    letter-spacing: 0.26666667vw;
    margin-top: 4.53333333vw;
  }
  .headphones {
    width: 19.4453333vw;
  }
  .speakers {
    width: 22.4106667vw;
    margin-top: 4.26666667vw;
  }
  .earphones {
    width: 27.4666667vw;
    margin-top: 0;
    margin-top: 4.26666667vw;
  }

  .headphone {
    margin-top: -13.86666667vw;
    padding-top: 23.46666667vw;
    padding-bottom: 5.86666667vw;
    border-radius: 2.133333333vw;
  }

  .speaker {
    margin-top: -13.86666667vw;
    padding-top: 23.46666667vw;
    padding-bottom: 5.86666667vw;
    border-radius: 2.133333333vw;
  }

  .earphone {
    margin-top: -13.86666667vw;
    padding-top: 23.46666667vw;
    padding-bottom: 5.86666667vw;
    border-radius: 2.133333333vw;
  }
  .description {
    width: 87.2vw;
    margin: 32vw 6.4vw 0;
    background-image: url(/images/lisMusMob.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 2.13333vw;
  }
  .description-content {
    text-align: center;
    margin: 0;
    width: 87.2vw;
    padding-top: 90.666667vw;
  }
  .description-content h2 {
    font-size: 7.466666vw;
    line-height: 10.2vw;
    letter-spacing: 0.266666vw;
    margin: 0;
  }
  .description-content p {
    margin-top: 8.53333vw;
    font-size: 4vw;
    line-height: 6.666667vw;
  }
  footer {
    margin-top: 32vw;
  }
  .logo-foot {
    text-align: center;
  }
  .foot-nav {
    width: 89.713541vw;
    padding-top: 13.86666vw;
    margin: 0 5.20833vw;
    display: block;
  }
  .foot-nav-content {
    margin-top: 8.533333vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .foot-nav-content a {
    margin: 0;
    margin-right: 0;
    margin-top: 4.26666vw;
    font-size: 3.466666vw;
    line-height: 6.666666vw;
    letter-spacing: 0.533333vw;
  }
  .foot-content {
    width: 87.2vw;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 12.8vw 6.4vw 0;
    font-size: 4vw;
    line-height: 6.66666vw;
  }
  .conclusion {
    width: 87.2vw;
    margin-top: 4.16666vw;
  }
  .conclusion p {
    margin: 0;
  }
  .copyright {
    width: 68.8vw;
    margin: 12.8vw auto 0;
  }
  .logos {
    width: 27.7333vw;
    display: flex;
    margin: 12.8vw auto;
    justify-content: center;
  }
  .twitter {
    margin: 0 4.26666vw;
  }
  .cart img {
    width: 6.21866vw;
  }
  .hamburger img {
    width: 4.2666vw;
  }
  .logo img {
    width: 38.133333vw;
  }
  .logo-foot img {
    width: 38.133333vw;
  }
}
